@charset "UTF-8";
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 */
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* line 7, /Users/Calvin/tripcast/tripcast2/app/assets/stylesheets/animation.css */
.logo {
  animation: logo-spin infinite 6s linear;
  display: inline-flex;
  justify-content: center;
  align-items: baseline;
  height: inherit;
  width: 1.2em;
  padding: 0;
}

/* line 4, /Users/Calvin/.rvm/gems/ruby-2.3.0/gems/neat-1.8.0/app/assets/stylesheets/grid/_box-sizing.scss */
html {
  box-sizing: border-box;
}

/* line 9, /Users/Calvin/.rvm/gems/ruby-2.3.0/gems/neat-1.8.0/app/assets/stylesheets/grid/_box-sizing.scss */
*, *::after, *::before {
  box-sizing: inherit;
}

/* line 2, /Users/Calvin/tripcast/tripcast2/app/assets/stylesheets/pace.scss */
.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  z-index: 2000;
  position: fixed;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 5px;
  width: 200px;
  background: #fff;
  border: 1px solid #ffcb3c;
  overflow: hidden;
}

/* line 24, /Users/Calvin/tripcast/tripcast2/app/assets/stylesheets/pace.scss */
.pace .pace-progress {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  max-width: 200px;
  position: fixed;
  z-index: 2000;
  display: block;
  position: absolute;
  top: 0;
  right: 100%;
  height: 100%;
  width: 100%;
  background: #ffe55e;
}

/* line 49, /Users/Calvin/tripcast/tripcast2/app/assets/stylesheets/pace.scss */
.pace.pace-inactive {
  display: none;
}

/* line 4, /Users/Calvin/.rvm/gems/ruby-2.3.0/gems/neat-1.8.0/app/assets/stylesheets/grid/_box-sizing.scss */
html {
  box-sizing: border-box;
}

/* line 9, /Users/Calvin/.rvm/gems/ruby-2.3.0/gems/neat-1.8.0/app/assets/stylesheets/grid/_box-sizing.scss */
*, *::after, *::before {
  box-sizing: inherit;
}

/* line 2, /Users/Calvin/tripcast/tripcast2/app/assets/stylesheets/pace.scss */
.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  z-index: 2000;
  position: fixed;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 5px;
  width: 200px;
  background: #fff;
  border: 1px solid #ffcb3c;
  overflow: hidden;
}

/* line 24, /Users/Calvin/tripcast/tripcast2/app/assets/stylesheets/pace.scss */
.pace .pace-progress {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  max-width: 200px;
  position: fixed;
  z-index: 2000;
  display: block;
  position: absolute;
  top: 0;
  right: 100%;
  height: 100%;
  width: 100%;
  background: #ffe55e;
}

/* line 49, /Users/Calvin/tripcast/tripcast2/app/assets/stylesheets/pace.scss */
.pace.pace-inactive {
  display: none;
}

/* line 14, /Users/Calvin/tripcast/tripcast2/app/assets/stylesheets/form.scss */
.new-user {
  display: flex;
  align-items: center;
  width: 50%;
  margin-left: 25%;
  margin-top: 5%;
  height: 65vh;
  font-family: "Nunito Sans", sans-serif;
}
/* line 22, /Users/Calvin/tripcast/tripcast2/app/assets/stylesheets/form.scss */
.new-user input {
  margin-top: 1%;
  margin-bottom: 3%;
  font-size: 14px;
  width: 100%;
  border: 2px solid white;
  border-bottom-color: #ffcb3c;
  transition: border 1s;
  height: 2em;
}
/* line 31, /Users/Calvin/tripcast/tripcast2/app/assets/stylesheets/form.scss */
.new-user input:focus {
  outline: none;
  border: 2px solid rgba(80, 185, 224, 0.6);
}
/* line 35, /Users/Calvin/tripcast/tripcast2/app/assets/stylesheets/form.scss */
.new-user input.button {
  width: 100%;
  height: 40px;
  background-color: white;
  border-radius: 10px;
  border: 2px solid #ffcb3c;
  margin-top: 4%;
  padding: 10px;
  font-weight: bold;
  transition: font-size, .2s;
  transition: height, .2s;
  transition: margin-top, .2s;
}
/* line 47, /Users/Calvin/tripcast/tripcast2/app/assets/stylesheets/form.scss */
.new-user input.button:hover {
  font-size: 16px;
  cursor: pointer;
  margin-top: 5%;
  height: 44px;
}

/* line 57, /Users/Calvin/tripcast/tripcast2/app/assets/stylesheets/form.scss */
.sign-in {
  margin-right: 10%;
  position: static;
}

/**
 * An element (`nav`) in which to house our dropdown.
 *
 * 1. Make sure we can’t actually see the absolutely positioned dropdown.
 */
/* line 35, /Users/Calvin/tripcast/tripcast2/app/assets/stylesheets/home.scss */
.responsive-nav {
  position: relative;
  font-family: "Gudea", sans-serif;
  z-index: 1;
  width: 44px;
  height: 44px;
  color: #ffcb3c;
  background-color: black;
  overflow: hidden;
  /* [1] */
  border-radius: 3px;
  cursor: pointer;
  /**
   * Make the wrapper element lie horizontally on wider viewports.
   * Nasty RWD makes us undo a lot of stuff :(
   */
  /**
   * Place a hamburger (don’t hate the player, hate the game...) icon
   * over the top of our nav element.
   */
  /**
   * When we add this class, we simply allow the absolutely positioned
   * dropdown to be seen.
   */
}
@media screen and (min-width: 720px) {
  /* line 35, /Users/Calvin/tripcast/tripcast2/app/assets/stylesheets/home.scss */
  .responsive-nav {
    position: static;
    width: auto;
    height: auto;
    background: none;
    color: black;
  }
}
/* line 63, /Users/Calvin/tripcast/tripcast2/app/assets/stylesheets/home.scss */
.responsive-nav:after {
  content: "☰";
  font-size: 16px;
  width: 1em;
  line-height: 1;
  text-align: left;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -8px;
  margin-left: -8px;
  /**
   * Remove the hamburger on wider viewports.
   */
}
@media screen and (min-width: 720px) {
  /* line 63, /Users/Calvin/tripcast/tripcast2/app/assets/stylesheets/home.scss */
  .responsive-nav:after {
    content: normal;
    content: none;
  }
}
/* line 89, /Users/Calvin/tripcast/tripcast2/app/assets/stylesheets/home.scss */
.responsive-nav.is-open {
  overflow: visible;
  /**
   * Change the hamburger to a cross when the nav is open.
   */
}
/* line 95, /Users/Calvin/tripcast/tripcast2/app/assets/stylesheets/home.scss */
.responsive-nav.is-open:after {
  content: "✕";
  /**
   * Remove the cross on wider viewports.
   * We have to repeat this chunk because of limitations with Sass.
   */
}
@media screen and (min-width: 720px) {
  /* line 95, /Users/Calvin/tripcast/tripcast2/app/assets/stylesheets/home.scss */
  .responsive-nav.is-open:after {
    content: normal;
    content: none;
  }
}

/**
 * The absolutely positioned dropdown of links.
 *
 * 1. Position the dropdown underneath the trigger.
 */
/* line 118, /Users/Calvin/tripcast/tripcast2/app/assets/stylesheets/home.scss */
.responsive-nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-top: 44px;
  position: absolute;
  top: 0;
  right: 0;
  background-color: black;
  width: 250px;
  border-radius: 3px;
  z-index: -1;
  /* [1] */
  /**
   * Un-position the dropdown on larger viewports.
   * More nasty RWD undoing stuff :(
   */
}
@media screen and (min-width: 720px) {
  /* line 118, /Users/Calvin/tripcast/tripcast2/app/assets/stylesheets/home.scss */
  .responsive-nav__list {
    padding-top: 0;
    position: static;
    width: auto;
    display: block;
    background: none;
    text-align: left;
  }
}

/* line 146, /Users/Calvin/tripcast/tripcast2/app/assets/stylesheets/home.scss */
.responsive-nav__item {
  border-top: 1px solid white;
}
@media screen and (min-width: 720px) {
  /* line 146, /Users/Calvin/tripcast/tripcast2/app/assets/stylesheets/home.scss */
  .responsive-nav__item {
    display: inline-block;
    border-top: none;
  }
}
/* line 153, /Users/Calvin/tripcast/tripcast2/app/assets/stylesheets/home.scss */
.responsive-nav__item a:hover {
  color: #617cd0;
}

/**
* 1. Ensure that the link text lines up with the hamburger.
* 2. Ensure that the link text is the same height as the trigger.
*/
/* line 163, /Users/Calvin/tripcast/tripcast2/app/assets/stylesheets/home.scss */
.responsive-nav__link {
  color: #ffcb3c;
  display: block;
  white-space: nowrap;
  padding-right: 14px;
  /* [1] */
  padding-left: 14px;
  /* [1] */
  line-height: 44px;
  /* [2] */
}
@media screen and (min-width: 720px) {
  /* line 163, /Users/Calvin/tripcast/tripcast2/app/assets/stylesheets/home.scss */
  .responsive-nav__link {
    color: black;
  }
}

/* line 176, /Users/Calvin/tripcast/tripcast2/app/assets/stylesheets/home.scss */
.navbar, #footer {
  width: inherit;
  background-color: white;
  font-family: "Hammersmith One", sans-serif;
  padding-right: 10px;
  z-index: 99999999;
  display: flex;
  justify-content: space-between;
  height: 70px;
  flex-shrink: 0;
  align-items: center;
}

@media (max-width: 600px) {
  /* line 190, /Users/Calvin/tripcast/tripcast2/app/assets/stylesheets/home.scss */
  .navbar, #footer {
    position: fixed;
    height: 65px;
    margin-top: 0px;
    padding-top: 0px;
    padding-right: 15px;
  }
}
@media (max-width: 600px) {
  /* line 200, /Users/Calvin/tripcast/tripcast2/app/assets/stylesheets/home.scss */
  main {
    flex-direction: column;
    height: 200%;
    width: 100%;
  }
}
@media (max-width: 600px) {
  /* line 208, /Users/Calvin/tripcast/tripcast2/app/assets/stylesheets/home.scss */
  #map {
    margin-top: 10vh;
    margin-right: 0;
    z-index: 9999;
  }
}
/* line 215, /Users/Calvin/tripcast/tripcast2/app/assets/stylesheets/home.scss */
main {
  display: flex;
  height: 200vh;
}

/* line 220, /Users/Calvin/tripcast/tripcast2/app/assets/stylesheets/home.scss */
.navbar-left {
  margin-right: 10px;
  text-align: left;
  z-index: 99999999;
  color: black;
  font-family: "Gudea", sans-serif;
  letter-spacing: 1.2px;
  transition: color, .5s;
  transition: font-weight, .5s;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
/* line 232, /Users/Calvin/tripcast/tripcast2/app/assets/stylesheets/home.scss */
.navbar-left a {
  padding: 4px;
}
/* line 19, /Users/Calvin/tripcast/tripcast2/app/assets/stylesheets/home.scss */
.navbar-left a:not(:nth-child(3)) {
  border-left: 1px solid black;
  border-right: 1px solid black;
}
/* line 240, /Users/Calvin/tripcast/tripcast2/app/assets/stylesheets/home.scss */
.navbar-left img {
  max-height: 1.8em;
}

/* line 245, /Users/Calvin/tripcast/tripcast2/app/assets/stylesheets/home.scss */
.clickInstructions {
  position: absolute;
  color: white;
  margin-top: 150px;
  margin-left: 500px;
  z-index: 999999999999;
}

/* line 253, /Users/Calvin/tripcast/tripcast2/app/assets/stylesheets/home.scss */
.title {
  z-index: 99999999;
  color: black;
  font-size: 2.2em;
  text-align: right;
  margin-left: 10px;
}

@media (max-width: 600px) {
  /* line 262, /Users/Calvin/tripcast/tripcast2/app/assets/stylesheets/home.scss */
  .title {
    font-size: 1.2em;
  }
}
/* line 267, /Users/Calvin/tripcast/tripcast2/app/assets/stylesheets/home.scss */
#map {
  height: 100%;
  width: 100%;
  margin-right: 0;
  position: relative;
  overflow: hidden;
  flex: 3;
}

/* line 276, /Users/Calvin/tripcast/tripcast2/app/assets/stylesheets/home.scss */
.alert {
  color: red;
  text-decoration: underline;
}

/* line 281, /Users/Calvin/tripcast/tripcast2/app/assets/stylesheets/home.scss */
#forecast {
  font-family: "Gudea", sans-serif;
}

/* line 285, /Users/Calvin/tripcast/tripcast2/app/assets/stylesheets/home.scss */
input {
  margin-top: 1%;
  font-size: 14px;
  font-family: "Gudea", sans-serif;
  width: 98%;
  border: 1px solid #ffcb3c;
  transition: border 1s;
  height: 2em;
}
/* line 293, /Users/Calvin/tripcast/tripcast2/app/assets/stylesheets/home.scss */
input:focus {
  outline: none;
  border: 1px solid rgba(80, 185, 224, 0.6);
}

/* line 299, /Users/Calvin/tripcast/tripcast2/app/assets/stylesheets/home.scss */
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  position: static;
  display: flex;
  flex-flow: column;
}

@media (max-width: 600px) {
  /* line 310, /Users/Calvin/tripcast/tripcast2/app/assets/stylesheets/home.scss */
  html, body {
    height: 200vh;
    margin-right: 0;
  }
}
@media (max-width: 600px) {
  /* line 317, /Users/Calvin/tripcast/tripcast2/app/assets/stylesheets/home.scss */
  #directionsPanel {
    margin-top: 70px;
  }
}
/* line 322, /Users/Calvin/tripcast/tripcast2/app/assets/stylesheets/home.scss */
#directionsPanel {
  display: flex;
  flex-flow: column;
  position: relative;
  font-family: "Gudea", sans-serif;
  background-color: white;
  padding-top: 1%;
  width: 100%;
  flex: 1;
  margin-left: 10px;
}

/* line 334, /Users/Calvin/tripcast/tripcast2/app/assets/stylesheets/home.scss */
#stepList {
  position: relative;
  width: 100%;
  height: 100%;
  list-style: none;
  padding: 0;
  list-style-type: none;
  overflow: scroll;
}

@media (max-width: 600px) {
  /* line 345, /Users/Calvin/tripcast/tripcast2/app/assets/stylesheets/home.scss */
  #stepList {
    position: absolute;
    margin-top: 195vh;
    height: 40vh;
  }
}
/* line 352, /Users/Calvin/tripcast/tripcast2/app/assets/stylesheets/home.scss */
#instruction {
  display: flex;
}

/* line 356, /Users/Calvin/tripcast/tripcast2/app/assets/stylesheets/home.scss */
.directionList {
  max-height: inherit;
}

/* line 360, /Users/Calvin/tripcast/tripcast2/app/assets/stylesheets/home.scss */
.buttons {
  width: 90%;
  display: flex;
  flex-flow: row;
  justify-content: center;
}

/* line 367, /Users/Calvin/tripcast/tripcast2/app/assets/stylesheets/home.scss */
.options {
  width: 90%;
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  padding: 10px;
}

/* line 375, /Users/Calvin/tripcast/tripcast2/app/assets/stylesheets/home.scss */
.option-labels {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

/* line 381, /Users/Calvin/tripcast/tripcast2/app/assets/stylesheets/home.scss */
#go, #save, #delete {
  width: 50px;
  height: 50px;
  background-color: #bee380;
  color: black;
  padding: .5em;
  border-radius: 50%;
  margin-left: 10px;
  border: none;
  font-family: "Hammersmith One", sans-serif;
  font-size: .9em;
  transition: background-color, 1s, color, .25s;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* line 397, /Users/Calvin/tripcast/tripcast2/app/assets/stylesheets/home.scss */
#go:hover, #save:hover, #delete:hover {
  background-color: #93cf2e;
  color: white;
}
/* line 401, /Users/Calvin/tripcast/tripcast2/app/assets/stylesheets/home.scss */
#go:focus, #save:focus, #delete:focus {
  outline: none;
}

/* line 406, /Users/Calvin/tripcast/tripcast2/app/assets/stylesheets/home.scss */
#save {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffea61;
}
/* line 412, /Users/Calvin/tripcast/tripcast2/app/assets/stylesheets/home.scss */
#save:hover {
  background-color: #ffe224;
}

/* line 417, /Users/Calvin/tripcast/tripcast2/app/assets/stylesheets/home.scss */
#delete {
  margin-top: 1%;
  background-color: #ee6363;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  padding: .5em;
}
/* line 427, /Users/Calvin/tripcast/tripcast2/app/assets/stylesheets/home.scss */
#delete:hover {
  background-color: #d41717;
}

/* line 432, /Users/Calvin/tripcast/tripcast2/app/assets/stylesheets/home.scss */
#footer {
  margin-bottom: 0;
  border-bottom: none;
  color: black;
  font-size: 2.2em;
  justify-content: flex-end;
  z-index: 0;
  flex-grow: 0;
  flex-shrink: 0;
}
/* line 442, /Users/Calvin/tripcast/tripcast2/app/assets/stylesheets/home.scss */
#footer img {
  position: relative;
  max-height: 1.2em;
}

/* line 448, /Users/Calvin/tripcast/tripcast2/app/assets/stylesheets/home.scss */
#darksky {
  z-index: 99999999;
  max-height: 1.2em;
}

/* line 453, /Users/Calvin/tripcast/tripcast2/app/assets/stylesheets/home.scss */
a {
  text-decoration: none;
  color: inherit;
  transition: color, .5s;
}
/* line 457, /Users/Calvin/tripcast/tripcast2/app/assets/stylesheets/home.scss */
a:clicked {
  color: inherit;
}

/* line 462, /Users/Calvin/tripcast/tripcast2/app/assets/stylesheets/home.scss */
.label-switch {
  border-radius: 20px;
  cursor: pointer;
  display: inline-block;
  height: 20px;
  position: relative;
  width: 40px;
}
/* line 483, /Users/Calvin/tripcast/tripcast2/app/assets/stylesheets/home.scss */
.label-switch input[type="checkbox"] {
  display: none;
}
/* line 486, /Users/Calvin/tripcast/tripcast2/app/assets/stylesheets/home.scss */
.label-switch input[type="checkbox"] + .checkbox {
  background: #ffbf0e;
  display: inline-block;
  border: 0;
  border-radius: 20px;
  cursor: pointer;
  height: 20px;
  margin: 0;
  padding: 0;
  position: relative;
  transition: all 0.3s ease;
  width: 40px;
  z-index: 0;
}
/* line 500, /Users/Calvin/tripcast/tripcast2/app/assets/stylesheets/home.scss */
.label-switch input[type="checkbox"] + .checkbox::before {
  position: absolute;
  top: 2px;
  right: 0;
  bottom: 0;
  left: 2px;
  background: white;
  border-radius: 20px;
  content: "";
  height: 16px;
  transform: scale(1);
  transition: all 0.3s ease;
  width: 36px;
  z-index: 1;
}
/* line 512, /Users/Calvin/tripcast/tripcast2/app/assets/stylesheets/home.scss */
.label-switch input[type="checkbox"] + .checkbox::after {
  position: absolute;
  top: 2px;
  right: 0;
  bottom: 0;
  left: 2px;
  height: 16px;
  width: 16px;
  background: white;
  border-radius: 16px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
  content: "";
  transition: all 0.3s ease;
  z-index: 2;
}
/* line 525, /Users/Calvin/tripcast/tripcast2/app/assets/stylesheets/home.scss */
.label-switch input[type="checkbox"]:checked + .checkbox {
  background: #ffcb3c;
}
/* line 528, /Users/Calvin/tripcast/tripcast2/app/assets/stylesheets/home.scss */
.label-switch input[type="checkbox"]:checked + .checkbox::before {
  transform: scale(0);
}
/* line 532, /Users/Calvin/tripcast/tripcast2/app/assets/stylesheets/home.scss */
.label-switch input[type="checkbox"]:checked + .checkbox::after {
  left: 22px;
}

/* line 540, /Users/Calvin/tripcast/tripcast2/app/assets/stylesheets/home.scss */
.trip-title {
  font-family: "Gudea", sans-serif;
  letter-spacing: 1.5px;
  font-size: 30px;
  text-align: center;
}

/* line 547, /Users/Calvin/tripcast/tripcast2/app/assets/stylesheets/home.scss */
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

/* line 554, /Users/Calvin/tripcast/tripcast2/app/assets/stylesheets/home.scss */
.card {
  background-color: #f6f6f6;
  font-style: "Gudea", sans-serif;
  border: 1px solid gainsboro;
  border-radius: 3px;
  box-shadow: 0 2px 4px #e6e6e6;
  cursor: pointer;
  flex-basis: 15em;
  flex-grow: 1;
  margin: 0 1em 1.5em 1em;
  position: relative;
  transition: all 0.2s ease-in-out;
  max-width: 300px;
}
/* line 583, /Users/Calvin/tripcast/tripcast2/app/assets/stylesheets/home.scss */
.card .card-image {
  background-color: #F8F2B4;
  height: 150px;
  max-height: 150px;
  overflow: hidden;
}
/* line 589, /Users/Calvin/tripcast/tripcast2/app/assets/stylesheets/home.scss */
.card .card-image img {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  opacity: 1;
  transition: all 0.2s ease-in-out;
  width: 100%;
}
/* line 597, /Users/Calvin/tripcast/tripcast2/app/assets/stylesheets/home.scss */
.card .card-header {
  font-family: "Gudea", sans-serif;
  background-color: #f6f6f6;
  border-bottom: 1px solid gainsboro;
  border-radius: 3px 3px 0 0;
  font-weight: bold;
  line-height: 1.5em;
  padding: 0.5em 0.75em;
  transition: all 0.2s ease-in-out;
}
/* line 608, /Users/Calvin/tripcast/tripcast2/app/assets/stylesheets/home.scss */
.card .card-copy {
  font-family: "Gudea", sans-serif;
  font-size: 0.9em;
  line-height: 1.5em;
  padding: 0.75em 0.75em;
}
/* line 614, /Users/Calvin/tripcast/tripcast2/app/assets/stylesheets/home.scss */
.card .card-copy p {
  margin: 0 0 0.75em;
}
/* line 619, /Users/Calvin/tripcast/tripcast2/app/assets/stylesheets/home.scss */
.card:focus, .card:hover {
  cursor: pointer;
}
/* line 623, /Users/Calvin/tripcast/tripcast2/app/assets/stylesheets/home.scss */
.card:focus img, .card:hover img {
  opacity: 0.7;
}
/* line 628, /Users/Calvin/tripcast/tripcast2/app/assets/stylesheets/home.scss */
.card:active {
  background-color: #f6f6f6;
}
/* line 631, /Users/Calvin/tripcast/tripcast2/app/assets/stylesheets/home.scss */
.card:active .card-header {
  background-color: #f6f6f6;
}

/* line 637, /Users/Calvin/tripcast/tripcast2/app/assets/stylesheets/home.scss */
.comment {
  border-bottom: 1px solid rgba(51, 51, 51, 0.1);
  display: table;
  margin-bottom: 1.5em;
  padding-bottom: 1em;
  width: 100%;
}
/* line 657, /Users/Calvin/tripcast/tripcast2/app/assets/stylesheets/home.scss */
.comment .comment-image,
.comment .comment-content {
  display: table-cell;
  vertical-align: top;
}
/* line 663, /Users/Calvin/tripcast/tripcast2/app/assets/stylesheets/home.scss */
.comment .comment-image {
  padding-right: 1.4em;
}
/* line 666, /Users/Calvin/tripcast/tripcast2/app/assets/stylesheets/home.scss */
.comment .comment-image > img {
  background: #d1d1d1;
  border-radius: 50%;
  display: block;
  height: auto;
  max-width: none;
  width: 4em;
}
/* line 675, /Users/Calvin/tripcast/tripcast2/app/assets/stylesheets/home.scss */
.comment-reverse-order .comment .comment-image {
  padding-left: 10px;
  padding-right: 0;
}
/* line 681, /Users/Calvin/tripcast/tripcast2/app/assets/stylesheets/home.scss */
.comment .comment-content {
  width: 100%;
}
/* line 684, /Users/Calvin/tripcast/tripcast2/app/assets/stylesheets/home.scss */
.comment .comment-content h1 {
  font-size: 1em;
  margin: 0 0 0.5em 0;
}
/* line 689, /Users/Calvin/tripcast/tripcast2/app/assets/stylesheets/home.scss */
.comment .comment-content p {
  line-height: 1.5em;
  margin-bottom: 0.5em;
}
/* line 694, /Users/Calvin/tripcast/tripcast2/app/assets/stylesheets/home.scss */
.comment .comment-content p.comment-detail {
  color: rgba(51, 51, 51, 0.5);
  font-size: 0.9em;
  font-style: italic;
}

/* line 702, /Users/Calvin/tripcast/tripcast2/app/assets/stylesheets/home.scss */
.tooltip-item {
  background: white;
  border: 1px solid gainsboro;
  border-radius: 50%;
  display: flex;
  padding: 1%;
  position: relative;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 21.5px;
  width: 21.5px;
  margin-left: 3%;
}
/* line 728, /Users/Calvin/tripcast/tripcast2/app/assets/stylesheets/home.scss */
.tooltip-item:focus, .tooltip-item:hover .tooltip {
  opacity: 1;
  visibility: visible;
}
/* line 734, /Users/Calvin/tripcast/tripcast2/app/assets/stylesheets/home.scss */
.tooltip-item .tooltip {
  bottom: 3em;
  top: -89px;
  left: -87px;
  background-color: white;
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 2px 2px silver;
  color: #333;
  font-size: 0.9em;
  line-height: 1.5em;
  margin: 0 auto;
  position: absolute;
  width: 200px;
  opacity: 0;
  padding: 1em;
  text-align: center;
  transition: all 0.2s ease-in-out;
  visibility: hidden;
  z-index: 10;
}
/* line 755, /Users/Calvin/tripcast/tripcast2/app/assets/stylesheets/home.scss */
.tooltip-item .tooltip p {
  color: #333;
  line-height: 1.5em;
  margin: 0;
}
/* line 761, /Users/Calvin/tripcast/tripcast2/app/assets/stylesheets/home.scss */
.tooltip-item .tooltip::after {
  position: absolute;
  right: 0;
  left: 0;
  border: 8px solid transparent;
  bottom: -1.3em;
  color: white;
  content: "▼";
  font-size: 1.4em;
  margin-left: -8px;
  text-align: center;
  text-shadow: 0 2px 2px silver;
}

@media (max-width: 600px) {
  /* line 776, /Users/Calvin/tripcast/tripcast2/app/assets/stylesheets/home.scss */
  .tooltip-item .tooltip {
    left: -120px;
  }
  /* line 778, /Users/Calvin/tripcast/tripcast2/app/assets/stylesheets/home.scss */
  .tooltip-item .tooltip::after {
    margin-left: 60px;
  }
}
/* line 2, /Users/Calvin/tripcast/tripcast2/app/assets/stylesheets/pace.scss */
.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  z-index: 2000;
  position: fixed;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 5px;
  width: 200px;
  background: #fff;
  border: 1px solid #ffcb3c;
  overflow: hidden;
}

/* line 24, /Users/Calvin/tripcast/tripcast2/app/assets/stylesheets/pace.scss */
.pace .pace-progress {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  max-width: 200px;
  position: fixed;
  z-index: 2000;
  display: block;
  position: absolute;
  top: 0;
  right: 100%;
  height: 100%;
  width: 100%;
  background: #ffe55e;
}

/* line 49, /Users/Calvin/tripcast/tripcast2/app/assets/stylesheets/pace.scss */
.pace.pace-inactive {
  display: none;
}
