<h3>Your Trips:</h3>
<% @trips.each do |trip| %>
  <div class="cards">
    <div class="card">
      <div class="card-image">
        <a href="/trips/<%= trip.id %>"><img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains.png" alt=""> </a>
      </div>
      <div class="card-header">
        <%= trip.departure %>
      </div>
      <div class="card-copy">
        <%= trip.start %> to <%= trip.end %>
      </div>
    </div>
    <% end %>
  </div>
