@import "bourbon";
@import "users";
@import "neat";
@import "pace";

$blue: rgba(80, 185, 224, 0.6);
$accent: rgba(207,231,167, 0.6);
$darkAccent: rgba(122, 189, 109, 0.6);
$brightInput: rgba(111, 144, 55, 0.62);
$input: rgba(207,231,167, 0.3);
$yellow: rgb(255, 203, 60);
$form: 'Nunito Sans', sans-serif;

.new-user {
  display: flex;
  align-items: center;
  width: 50%;
  margin-left: 25%;
  margin-top: 5%;
  height: 65vh;
  font-family: $form;
  & input {
    margin-top: 1%;
    margin-bottom: 3%;
    font-size: 14px;
    width: 100%;
    border: 2px solid white;
    border-bottom-color: $yellow;
    transition: border 1s;
    height: 2em;
    &:focus {
      outline: none;
      border: 2px solid $blue;
    }
    &.button {
      width: 100%;
      height: 40px;
      background-color: white;
      border-radius: 10px;
      border: 2px solid $yellow;
      margin-top: 4%;
      padding: 10px;
      font-weight: bold;
      transition: font-size, .2s;
      transition: height, .2s;
      transition: margin-top, .2s;
      &:hover {
        font-size: 16px;
        cursor: pointer;
        margin-top: 5%;
        height: 44px;
      }
    }
  }
}

.sign-in {
  margin-right: 10%;
  position: static;
}
