@import "bourbon";
@import "users";
@import "neat";
@import "pace";
@import "form";

$blue: rgba(80, 185, 224, 0.6);
$accent: rgba(207,231,167, 0.6);
$input: rgba(207,231,167, 0.3);
$yellow: rgb(255, 203, 60);
$lightyellow: rgb(255, 234, 97);
$red: rgb(238, 99, 99);
$green: rgba(190, 227, 128, 1);

$font: 'Hammersmith One', sans-serif;
$body: 'Gudea', sans-serif;

.navbar {
  width: inherit;
  background-color: $blue;
  height: 70px;
  font-family: $font;
  padding-right: 1em;
  border-bottom: 0.2em solid $accent;
  z-index: 99999999;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.navbar-left {
  margin-left: 1%;
  text-align: left;
  margin-right: 1%;
  z-index: 99999999;
  color: white;
}

.title {
  margin-top: .7em;
  z-index: 99999999;
  color: white;
  font-size: 2.2em;
  text-align: right;
  &img {
    display: inline;
  }
}

#map {
  height: 90%;
  width: fill;
  margin-left: 25%;
  margin-right: 0;
}

input {
  margin-top: 1%;
  font-size: 14px;
  font-family: $body;
  width: 98%;
  border: 1px solid white;
  border-bottom-color: $input;
  transition: border 1s;
  height: 2em;
  &:focus {
    outline: none;
    border: 1px solid $accent;
  }
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  position: static;
}

#directionsPanel {
  font-family: $body;
  background-color: white;
  padding-top: 1%;
  padding-left: 1%;
  float:left;
  width: 25%;
  height: 88%;
}

#stepList {
  position: static;
  margin-top: 1%;
  clear: left;
  width:100%;
  height: 60.88%;
  list-style: none;
  padding: 0;
  list-style-type: none;
  overflow: scroll;
  z-index: -1;
}

.directionList {
  padding: 1px;
  border-right: 2px solid $blue;
  border-bottom: 1px solid $blue;
}

.buttons {
  width: 90%;
  display: flex;
  flex-flow: row;
  justify-content: center;
}

.options {
  width: 90%;
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  padding: 10px;
}

.option-labels {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#go {
  width: 50px;
  height: 50px;
  background-color: $green;
  color: black;
  padding: .5em;
  border-radius: 50%;
  margin-left: 10px;
  border: none;
  font-family: $font;
  font-size: .9em;
  transition: background-color, 1s, color, .25s;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    background-color: darken($green, 20%);
    color: white;
  }
  &:focus {
    outline: none;
  }
}

#save {
  @extend #go;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $lightyellow;
  &:hover {
    background-color: darken($lightyellow, 10%);
  }
}

#delete {
  @extend #go;
  margin-top: 1%;
  background-color: $red;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  padding: .5em;
  &:hover {
    background-color: darken($red, 20%);
  }
}

#footer {
  @extend .navbar;
  margin-bottom: 0;
  border-bottom: none;
  border-top: 0.2em solid $accent;
  z-index: 99999999;
  color: white;
  font-size: 2.2em;
  text-align: right;
  img {
    position: relative;
    max-height: 1.2em;
  }
}
//
// #error {
//   background-color: rgba(249, 83, 83, 0.64);
//   text-align: center;
//   font-family: $font;
//   color: white;
// }

a {
  text-decoration: none;
  color: inherit;
  &:clicked {
    color: inherit;
  }
}

.label-switch {
  $action-color: $blue !default;
  $base-background-color: white !default;
  $switch-width: 40px;
  $switch-padding: 2px;
  $switch-height: 20px;
  $switch-radius: $switch-height;
  $knob-size: $switch-height - ($switch-padding * 2);
  $knob-radius: $switch-height - ($switch-padding * 2);
  $knob-width: $knob-size;
  $switch-background: $base-background-color;
  $switch-border-background: darken($base-background-color, 9%);
  $switch-shadow: 0 2px 5px transparentize(black, 0.6);

  border-radius: $switch-radius;
  cursor: pointer;
  display: inline-block;
  height: $switch-height;
  position: relative;
  width: $switch-width;

  input[type="checkbox"] {
    display: none;

    + .checkbox {
      background: $switch-border-background;
      display: inline-block;
      border: 0;
      border-radius: $switch-radius;
      cursor: pointer;
      height: $switch-height;
      margin: 0;
      padding: 0;
      position: relative;
      transition: all 0.3s ease;
      width: $switch-width;
      z-index: 0;

      &::before {
        @include position(absolute, 2px 0 0 2px);
        background: $switch-background;
        border-radius: $switch-radius;
        content: "";
        height: $knob-radius;
        transform: scale(1);
        transition: all 0.3s ease;
        width: $switch-width - ($switch-padding * 2);
        z-index: 1;
      }

      &::after {
        @include position(absolute, 2px 0 0 2px);
        @include size($knob-size);
        background: $switch-background;
        border-radius: $knob-radius;
        box-shadow: $switch-shadow;
        content: "";
        transition: all 0.3s ease;
        z-index: 2;
      }
    }

    &:checked {
      + .checkbox {
        background: $blue;

        &::before {
          transform: scale(0);
        }

        &::after {
          left: $switch-width - $knob-width - ($switch-padding);
        }
      }
    }
  }
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  $base-border-color: gainsboro !default;
  $base-border-radius: 3px !default;
  $base-background-color: white !default;
  $base-spacing: 1.5em !default;
  $action-color: #477DCA !default;
  $dark-gray: #333 !default;
  $base-font-color: $dark-gray !default;
  $card-border-color: $base-border-color;
  $card-border: 1px solid $card-border-color;
  $card-background: lighten($card-border-color, 10%);
  $card-header-background: $card-background;
  $card-margin: 1em;
  $card-image-hover-opacity: 0.7;
  $card-image-hover-color: #F8F2B4;

  background-color: $card-background;
  border: $card-border;
  border-radius: $base-border-radius;
  box-shadow: 0 2px 4px darken($base-background-color, 10%);
  cursor: pointer;
  flex-basis: 15em;
  flex-grow: 1;
  margin: 0 $card-margin $base-spacing $card-margin;
  position: relative;
  transition: all 0.2s ease-in-out;
  max-width: 300px;

  .card-image {
    background-color: $card-image-hover-color;
    height: 150px;
    max-height: 150px;
    overflow: hidden;

    img {
      @include border-top-radius($base-border-radius);
      opacity: 1;
      transition: all 0.2s ease-in-out;
      width: 100%;
    }
  }

  .card-header {
    background-color: $card-header-background;
    border-bottom: $card-border;
    border-radius: $base-border-radius $base-border-radius 0 0;
    font-weight: bold;
    line-height: 1.5em;
    padding: ($base-spacing / 3) ($base-spacing / 2);
    transition: all 0.2s ease-in-out;
  }

  .card-copy {
    font-size: 0.9em;
    line-height: 1.5em;
    padding: ($base-spacing / 2) ($base-spacing / 2);

    p {
      margin: 0 0 ($base-spacing / 2);
    }
  }

  &:focus,
  &:hover {
    cursor: pointer;

    img {
      opacity: $card-image-hover-opacity;
    }
  }

  &:active {
    background-color: $card-background;

    .card-header {
      background-color: $card-background;
    }
  }
}
